<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    <title>Household</title>
    <title>Join {{houseHold.name}} </title>
</head>
<body>
    <h1>JOIN HOUSEHOLD</h1>

    <form action="{% url "EnterHouseholdPassword" houseHold.name %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='password', name='password' class='field' placeholder="Enter household's code"></p>
        <input type='submit' name='joinButton' class='submit' value='SUBMIT'>
    </form>
    
    

</body>
</html>